<h2>Mountain Details</h2>


<p>Name: <%= @mountain["name"] %></p>

<p>Location: <%= @mountain["location"] %></p>

<img src="<%= @mountain["image"] %>">

<p>Height: <%= @mountain["height"] %></p>

<p>Deaths: <%= @mountain["deaths"] %></p>

<a href="/mountains" class="back" >back</a>
